.Checkbox{
	position: absolute;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
}

.Checkbox:checked ~ .ImgChecked {
	opacity: 1;
	visibility: visible;
}

.Checkbox:checked ~ .Answer {
	& > img{
		border-color: var(--c-p);
	}
}

.Answer {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 1rem;
	border-radius: var(--br-sm);
	will-change: box-shadow;
	-webkit-transition: -webkit-box-shadow 0.15s ease-out;
	transition: -webkit-box-shadow 0.15s ease-out;
	transition: box-shadow 0.15s ease-out;
	transition: box-shadow 0.15s ease-out, -webkit-box-shadow 0.15s ease-out;
}

.Image{
	// max-width: 280px;
	width: 100%;
	height: 100%;
	border-radius: var(--br-sm);
	border: 3px solid rgba(217, 216, 230, 0.55);
}

.Choice {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;
	font-weight: 500;
	font-size: 1.6rem;
	padding-left: 1rem;
	text-align: left;
	margin-top: 0.5rem;
	position: relative;
	transition: -webkit-box-shadow 0.15s ease-out;
	transition: box-shadow 0.15s ease-out;
	transition: box-shadow 0.15s ease-out, -webkit-box-shadow 0.15s ease-out;
}

.CircleHelp{
	color: var(--c-g); 
	transition: all 0.3s;
	&:hover{
		color: var(--c-p);
	}
}

.CheckBadge{
 display: flex;
 align-items: center;
 justify-content: center;
 width: 30px;
 height: 30px;
 border-radius: 50%;
 background-color: #fff;
 position: absolute;
 top: -5px;
 right: 5px;
 z-index: 2;
 -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
 -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
 box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.TooltipContent{
	border: 3px solid rgba(217, 216, 230, 0.55);
	max-width: 280px;
	padding: 1rem;
	font-size: 1.4rem;
	border-radius: var(--br-sm);
	background-color: #fff;
	color: #000;
	-webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}